@model Web_programlama.Models.Haberler
@{
    ViewData["Title"] = "AddHaberler";
}

<h1>AddHaberler</h1>
<div class="bg-success text-white m-5"></div>
<form asp-action="AddHaberler" method="post" class="m-5">

    <div class="form-group">
        <label>SONHABER..</label>
        <input class="form-control" asp-for="son_haberler">
    </div>

    <div class="form-group">
        <label>DAĞITIM_ALANLARI</label>
        <input class="form-control" asp-for="gida_dagitim_noktalari" />
    </div>

    <div class="form-group">
        <label>SAĞLIK_MERKEZLERİ..</label>
        <input class="form-control" asp-for="saglik_merkezleri">
    </div>

    <div class="form-group">
        <label> IS_ACTİVE</label>
        <input class="form-control" asp-for=IsActive>
    </div><br />

        <button type="submit" class="btn btn-primary">Haber Ekle</button>
</form>

