@{
    ViewData["Title"] = "Index";
}

<h1>Admin Sayfası</h1>

<a asp-action="AdminOlustur" class="btn btn-primary">Admin oluştur</a>
<a asp-action="Lista" class="btn btn-success">Adminleri görüntüle</a>
<a asp-action="AddHaberler" class="btn btn-primary">Haber Ekle</a>

<form asp-controller="Admin" asp-action="RaporGonullu" method="post">
    <input type="submit" class="btn btn-primary" value="Başvurular" />
</form>
