@{
    ViewData["Title"] = "info";
}


<h1>Umut Can GÜLER</h1>

<div class="container">
    <div class="content">
        <a href="https://github.com/Umut4852" target="_blank">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="Github" class="github-icon" />
        </a>

        <a href="https://www.instagram.com/umutcn52/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" class="instagram-icon">
        </a>
        <a href="https://www.linkedin.com/in/umut-can-g%C3%BCler-069350197/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/2048px-Linkedin_icon.svg.png" alt="Linkedin" class="linkedin-icon" />
        </a>
        <a href="https://twitter.com/umtcnglr" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="Twitter" class="twitter-icon" />
        </a>
    </div>
</div>