
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Urun" asp-action="Urunekle" method="post">
    <input type="submit" value="Urunekle" />
</form>

<form asp-controller="Urun" asp-action="VeriAl" method="post">
    <input type="submit" value="VeriAl" />
</form>

<form asp-controller="Urun" asp-action="Qstring" method="post">
    <input type="submit" value="Qstring" />
</form>

<form asp-controller="Urun" asp-action="RouteData" method="post">
    <input type="submit" value="RouteData" />
</form>
