@model Web_programlama.Models.Ihtiyaclar
@{
    ViewData["Title"] = "Guncelle";
}

<h1>Geçmiş olsun</h1>
<h2>ihtiyacınız olan ürünleri giriniz</h2>

<form asp-action="AddIhtiyaclar" method="post" class="m-5">
    <div class="form-group">
        <label>Adı</label>
        <input class="form-control" asp-for=i_adi>
    </div>

    <div class="form-group">
        <label>Ne kadar ihtiyacınız var (1 gün için:Kişi başı 1 adet)</label>
        <input class="form-control" asp-for=i_miktari>
    </div>

    <div class="form-group">
        <label>Gerekli olan konumu</label>
        <input class="form-control" asp-for=istek_adresi>
    </div>

    <div class="form-group">
        <label>Özel bir isteğiniz</label>
        <input class="form-control" asp-for=ozel_istek>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Güncelle</button>
</form>


