@{
    ViewData["Title"] = "Home Page";
}

<div class="p-4 text-center">
    <h1>Geçmiş Olsun</h1>

</div>
<a asp-action="AddKullanici" class="btn btn-primary">Kullanıcı Oluştur</a>
<a asp-action="List" class="btn btn-primary">Kullanıcıları Listele</a>
<br/>
<form asp-controller="Home" asp-action="OpenGonullu" method="post">
    <input type="submit" value="Gönüllü" />
</form>

<form asp-controller="Home" asp-action="OpenAdmin" method="post">
    <input type="submit" value="Admin" />
</form>

<form asp-controller="Home" asp-action="Openihtiyac" method="post">
    <input type="submit" value="Ihtiyaclar" />
</form>
<form asp-controller="Haberler" asp-action="Index" method="post">
    <input type="submit" value="Haberler" />
</form>

<form asp-controller="Urun" asp-action="Index" method="post">
    <input type="submit" value="Urun" />
</form>

<form asp-controller="Login" asp-action="Index" method="post">
    <input type="submit" value="Login" />
</form>