
@{
    ViewData["Title"] = "Home Page";
}
<div class=" text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="p-4 text-center">
    <h2>Geçmiş Olsun</h2>
    <a asp-action="AddKullanici" class="btn btn-primary">Kullanıcı Paneli</a>
</div>

<a asp-action="List" class="btn btn-primary">
    Kullanıcıları Listele
</a>


