@model Web_programlama.Models.Kullanici
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h2>Teşekkürler @Model.k_yetki_turu</h2>
    <h4>
        Kullanıcı Eklendi
    </h4>
</div>
<h1>Thanks</h1>

<a asp-action="List" class="btn btn-primary">
    Listele
</a>
