@model Web_programlama.Models.Kullanici
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">
    <h1>Teşekkürler </h1>
    <h4>
       @Model.k_adi isimli kullanıcı eklendi.
    </h4>
</div>
<h1>Thanks</h1>

<a asp-action="List" class="btn btn-primary">
    Kullanıcılar
</a>
