@model Web_programlama.Models.Haber;
@{
    ViewData["Title"] = "Ekle";
}

<h2>Yeni Haber Ekle</h2>

<form method="post" action="/Haber/Ekle">
    <label>Başlık:</label><br />
    <input type="text" name="Baslik" /><br />

    <label>İçerik:</label><br />
    <textarea name="Icerik"></textarea><br />

    <label>Tarih:</label><br />
    <input type="text" name="Tarih" /><br />

    <input type="submit" value="Ekle" />
</form>
