@model Web_programlama.Models.Haber;
@{
    ViewData["Title"] = "Guncelle";
}

<h2>Haber Güncelle</h2>

<form method="post" action="/Haber/Guncelle">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Başlık:</label><br />
    <input type="text" name="Baslik" value="@Model.Baslik" /><br />

    <label>İçerik:</label><br />
    <textarea name="Icerik">@Model.Icerik</textarea><br />

    <label>Tarih:</label><br />
    <input type="text" name="Tarih" value="@Model.Tarih.ToString("dd.MM.yyyy")" /><br />

    <input type="submit" value="Güncelle" />
</form>


