@model Web_programlama.Models.Haber;
@{
    ViewData["Title"] = "HaberSil";
}

<h2>Haber Sil</h2>

<p>Seçili haber aşağıdaki gibi silinecektir. Devam etmek istiyor musunuz?</p>

<table>
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Tarih</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Baslik</td>
        <td>@Model.Icerik</td>
        <td>@Model.Tarih.ToString("dd.MM.yyyy")</td>
    </tr>
</table>

<br />

<form method="post" action="/Haber/Sil/@Model.Id">
    <input type="submit" value="Sil" />
</form>
