@model List<Haber>
@{
    ViewData["Title"] = "Index";
}
<h1>Tüm Haberler</h1>

@if (Model.Count == 0)
{
    <p>Henüz haber bulunmamaktadır.</p>
}
else
{
    <table>
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Tarih</th>
            <th></th>
        </tr>
        @foreach (var haber in Model)
        {
            <tr>
                <td>@haber.Id</td>
                <td>@haber.Baslik</td>
                <td>@haber.Icerik</td>
                <td>@haber.Tarih.ToString("dd.MM.yyyy")</td>
                <td>
                    <a href="/Haber/Detay/@haber.Id">Detay</a> |
                    <a href="/Haber/Guncelle/@haber.Id">Güncelle</a> |
                    <a href="/Haber/Sil/@haber.Id">Sil</a>
                </td>
            </tr>
        }
    </table>
}

<br />

<a href="/Haber/Ekle">Yeni Haber Ekle</a>


