@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <img src="https://i.borsagundem.com/files/2023/2/13/1721385/1721385.jpg?v=1678825534" alt="Resim" class="my-image">
    <div class="content">
        <h1>Hep birlikte omuz omuza</h1>
        <a asp-action="GonulluBasvuru" class="btn btn-primary">Başvuru Oluştur</a>
        <a asp-action="Listg" class="btn btn-primary">Başvuruları Listele</a>
    </div>
</div>

