@{
    ViewData["Title"] = "Index";
}

<h1>Gönüllü sayfası</h1>

<a asp-action="GonulluBasvuru" class="btn btn-primary">Başvuru Oluştur</a>
<a asp-action="Listg" class="btn btn-primary">Başvuruları listele</a>