@model Web_programlama.Models.Gonullu
@{
    ViewData["Title"] = "Thanks";
}

<h1>Gönüllü başvurunuz gerçekleşmiştir </h1>
<br />
<h5>Gönüllü sayfasına dönmek için tıklayınız</h5> <a asp-action="Index" class="btn btn-primary">GERİ</a>
