@model Web_programlama.Models.ihtiyac
@{
    ViewData["Title"] = "Addihtiyac";
}



<div class="bg-success text-white m-5"></div>

<form asp-action="Addihtiyac" method="post" class="m-5">
    <div class="form-group">
        <label>Adı Giriniz..</label>
        <input class="form-control" asp-for=i_adi>
    </div>

    <div class="form-group">
        <label>Adet Giriniz..</label>
        <input class="form-control" asp-for=i_miktari>
    </div>

    <div class="form-group">
        <label>Adres Giriniz..</label>
        <input class="form-control" asp-for=istek_adresi>
    </div>

    <div class="form-group">
        <label>Başka bir isteğiniz</label>
        <input class="form-control" asp-for=ozel_istek>
    </div>

    <button type="submit" class="btn btn-primary">İhtiyaç Oluştur</button>

</form>

