
@{
    ViewData["Title"] = "Index";
}

<h1>İhtiyaç Sayfası</h1>

<a asp-action="Addihtiyac" class="btn btn-primary">ihtiyaç Oluştur</a>
<a asp-action="Listn" class="btn btn-primary">ihtiyaçları listele</a>
