
@{
    ViewData["Title"] = "Index";
}

<h1>İhtiyaç Sayfası</h1>
<di class="container">
    <div class="row">
        <div class="col-sm">
            <img src="https://imgs.alem.com.tr/Documents/Alem_Dergi/images/2023/02/13/moda-devlerinden-deprem-b-953.jpg" alt="ekleihtiyac" class="ihtiyac-icon" />
            <div>
                <a asp-action="Addihtiyac" class="btn btn-primary">ihtiyaç Oluştur</a>
            </div>
        </div>

        <div class="col-sm">
            <img src="https://as2.ftcdn.net/v2/jpg/01/66/07/87/1000_F_166078724_yOAarlKDwpkRD6xXrxYfpsbj3eCHdkkR.jpg" alt="listeihtiyac" class="ihtiyac-icon" />
            <div>
                <a asp-action="Listn" class="btn btn-primary">ihtiyaçları listele</a>
            </div>
        </div>
    </div>
</di>
